<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isell.service.gztg.dao.GztgMapper">
    <resultMap id="BaseResultMap" type="com.isell.service.gztg.vo.Gztg">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="messageId" jdbcType="VARCHAR" property="messageid"/>
        <result column="orderId" jdbcType="CHAR" property="orderid"/>
        <result column="uploadtime" jdbcType="TIMESTAMP" property="uploadtime"/>
    </resultMap>
    <select id="getGztgById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             gztg
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="findAllGztg" resultMap="BaseResultMap">
          SELECT * FROM gztg 
    </select>
    
    <select id="getByMessageId" resultMap="BaseResultMap">
          SELECT * FROM gztg where messageid=#{messageId}
    </select>
    
    <delete id="deleteGztg">
        DELETE
        FROM
             gztg
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="saveGztg" parameterType="com.isell.service.gztg.vo.Gztg" >
        INSERT INTO gztg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="messageid != null" >
                messageId,
            </if>
            <if test="orderid != null" >
                orderId,
            </if>
            <if test="uploadtime != null" >
                uploadtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if> 
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if> 
            <if test="messageid != null" >
                #{messageid,jdbcType=VARCHAR},
            </if> 
            <if test="orderid != null" >
                #{orderid,jdbcType=CHAR},
            </if> 
            <if test="uploadtime != null" >
                #{uploadtime,jdbcType=TIMESTAMP},
            </if> 
        </trim>
    </insert>

    <update id="updateGztg" parameterType="com.isell.service.gztg.vo.Gztg" >
        UPDATE gztg
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="messageid != null" >
                messageId = #{messageid,jdbcType=VARCHAR},
            </if>
            <if test="orderid != null" >
                orderId = #{orderid,jdbcType=CHAR},
            </if>
            <if test="uploadtime != null" >
                uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE 
            id = #{id,jdbcType=INTEGER}
    </update>
</mapper>