body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:851px;
  top:1918px;
  width:317px;
  height:196px;
}
#u43 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u44 {
  position:absolute;
  left:862px;
  top:1985px;
  width:306px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46 {
  position:absolute;
  left:1138px;
  top:1918px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u48 {
  position:absolute;
  left:977px;
  top:1939px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:965px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:965px;
}
#u52 {
  position:absolute;
  left:2px;
  top:474px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:300px;
  top:14px;
  width:1px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u59 {
  position:absolute;
  left:143px;
  top:34px;
  width:90px;
  height:18px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:2px;
  top:-4px;
  width:86px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u63 {
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:1px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u65 {
  position:absolute;
  left:14px;
  top:32px;
  width:12px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u67 {
  position:absolute;
  left:128px;
  top:123px;
  width:121px;
  height:28px;
  text-align:center;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u69 {
  position:absolute;
  left:131px;
  top:166px;
  width:114px;
  height:22px;
  text-align:center;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:118px;
  top:205px;
  width:140px;
  height:37px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:18px;
  top:568px;
  width:334px;
  height:99px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:243px;
}
#u75 {
  position:absolute;
  left:59px;
  top:275px;
  width:243px;
  height:243px;
}
#u76 {
  position:absolute;
  left:2px;
  top:114px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u77 {
  position:absolute;
  left:145px;
  top:361px;
  width:70px;
  height:70px;
}
#u78 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:22px;
  top:542px;
  width:57px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#AEAEAE;
  text-align:right;
}
#u81 {
  position:absolute;
  left:295px;
  top:542px;
  width:57px;
  height:16px;
  text-decoration:underline;
  color:#AEAEAE;
  text-align:right;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u83 {
  position:absolute;
  left:36px;
  top:581px;
  width:86px;
  height:16px;
  font-size:13px;
  line-height:normal;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u85 {
  position:absolute;
  left:256px;
  top:581px;
  width:86px;
  height:16px;
  font-size:13px;
  text-align:right;
  line-height:normal;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u87 {
  position:absolute;
  left:256px;
  top:611px;
  width:86px;
  height:16px;
  font-size:13px;
  text-align:right;
  line-height:normal;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u89 {
  position:absolute;
  left:256px;
  top:641px;
  width:86px;
  height:16px;
  font-size:13px;
  text-align:right;
  line-height:normal;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u91 {
  position:absolute;
  left:36px;
  top:611px;
  width:86px;
  height:16px;
  font-size:13px;
  line-height:normal;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u93 {
  position:absolute;
  left:36px;
  top:641px;
  width:86px;
  height:16px;
  font-size:13px;
  line-height:normal;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:209px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:18px;
  top:714px;
  width:334px;
  height:209px;
}
#u96 {
  position:absolute;
  left:2px;
  top:96px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:22px;
  top:688px;
  width:57px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:160px;
}
#u99 {
  position:absolute;
  left:36px;
  top:731px;
  width:245px;
  height:160px;
  font-size:13px;
  line-height:normal;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u101 {
  position:absolute;
  left:450px;
  top:144px;
  width:351px;
  height:22px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u103 {
  position:absolute;
  left:300px;
  top:144px;
  width:20px;
  height:20px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:320px;
  top:154px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u105_seg1 {
  position:absolute;
  left:119px;
  top:-4px;
  width:8px;
  height:13px;
}
#u105_seg2 {
  position:absolute;
  left:103px;
  top:-23px;
  width:40px;
  height:41px;
}
#u106 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u107 {
  position:absolute;
  left:450px;
  top:213px;
  width:351px;
  height:88px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u109 {
  position:absolute;
  left:300px;
  top:213px;
  width:20px;
  height:20px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:320px;
  top:223px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u111_seg1 {
  position:absolute;
  left:119px;
  top:-4px;
  width:8px;
  height:13px;
}
#u111_seg2 {
  position:absolute;
  left:103px;
  top:-23px;
  width:40px;
  height:41px;
}
#u112 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u113 {
  position:absolute;
  left:450px;
  top:361px;
  width:351px;
  height:132px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u115 {
  position:absolute;
  left:300px;
  top:361px;
  width:20px;
  height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:320px;
  top:371px;
  width:0px;
  height:0px;
}
#u117_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u117_seg1 {
  position:absolute;
  left:119px;
  top:-4px;
  width:8px;
  height:13px;
}
#u117_seg2 {
  position:absolute;
  left:103px;
  top:-23px;
  width:40px;
  height:41px;
}
#u118 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u119 {
  position:absolute;
  left:450px;
  top:535px;
  width:351px;
  height:66px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u121 {
  position:absolute;
  left:352px;
  top:535px;
  width:20px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:372px;
  top:545px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u123_seg1 {
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:12px;
}
#u123_seg2 {
  position:absolute;
  left:51px;
  top:-24px;
  width:40px;
  height:41px;
}
#u124 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u125 {
  position:absolute;
  left:450px;
  top:624px;
  width:351px;
  height:66px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u127 {
  position:absolute;
  left:352px;
  top:624px;
  width:20px;
  height:20px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:372px;
  top:634px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u129_seg1 {
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:12px;
}
#u129_seg2 {
  position:absolute;
  left:51px;
  top:-24px;
  width:40px;
  height:41px;
}
#u130 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u131 {
  position:absolute;
  left:450px;
  top:714px;
  width:351px;
  height:44px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u133 {
  position:absolute;
  left:352px;
  top:714px;
  width:20px;
  height:20px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:372px;
  top:724px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u135_seg1 {
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:12px;
}
#u135_seg2 {
  position:absolute;
  left:51px;
  top:-24px;
  width:40px;
  height:41px;
}
#u136 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:851px;
  top:35px;
  width:317px;
  height:196px;
}
#u139 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u140 {
  position:absolute;
  left:885px;
  top:99px;
  width:270px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u142 {
  position:absolute;
  left:987px;
  top:57px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u144 {
  position:absolute;
  left:1138px;
  top:35px;
  width:30px;
  height:30px;
}
#u145 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  position:absolute;
  left:919px;
  top:162px;
  width:184px;
  height:48px;
}
#u147 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u149 {
  position:absolute;
  left:851px;
  top:0px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:851px;
  top:577px;
  width:317px;
  height:196px;
}
#u153 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u154 {
  position:absolute;
  left:885px;
  top:641px;
  width:270px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u156 {
  position:absolute;
  left:987px;
  top:599px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u158 {
  position:absolute;
  left:1138px;
  top:577px;
  width:30px;
  height:30px;
}
#u159 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:919px;
  top:704px;
  width:184px;
  height:48px;
}
#u161 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u163 {
  position:absolute;
  left:851px;
  top:542px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:851px;
  top:849px;
  width:317px;
  height:196px;
}
#u167 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u168 {
  position:absolute;
  left:885px;
  top:913px;
  width:270px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u170 {
  position:absolute;
  left:995px;
  top:871px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u172 {
  position:absolute;
  left:1138px;
  top:849px;
  width:30px;
  height:30px;
}
#u173 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  position:absolute;
  left:919px;
  top:976px;
  width:184px;
  height:48px;
}
#u175 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u177 {
  position:absolute;
  left:851px;
  top:814px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  position:absolute;
  left:851px;
  top:1115px;
  width:317px;
  height:196px;
}
#u181 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u182 {
  position:absolute;
  left:885px;
  top:1179px;
  width:270px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u184 {
  position:absolute;
  left:995px;
  top:1137px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u186 {
  position:absolute;
  left:1138px;
  top:1115px;
  width:30px;
  height:30px;
}
#u187 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:919px;
  top:1242px;
  width:184px;
  height:48px;
}
#u189 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u191 {
  position:absolute;
  left:851px;
  top:1080px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:851px;
  top:1378px;
  width:317px;
  height:196px;
}
#u195 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u196 {
  position:absolute;
  left:885px;
  top:1442px;
  width:270px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u198 {
  position:absolute;
  left:995px;
  top:1400px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u200 {
  position:absolute;
  left:1138px;
  top:1378px;
  width:30px;
  height:30px;
}
#u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  position:absolute;
  left:919px;
  top:1505px;
  width:184px;
  height:48px;
}
#u203 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  position:absolute;
  left:923px;
  top:2025px;
  width:184px;
  height:48px;
}
#u205 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u207 {
  position:absolute;
  left:851px;
  top:1343px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  position:absolute;
  left:851px;
  top:1661px;
  width:317px;
  height:196px;
}
#u211 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u212 {
  position:absolute;
  left:862px;
  top:1699px;
  width:306px;
  height:19px;
  font-size:16px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u214 {
  position:absolute;
  left:1138px;
  top:1661px;
  width:30px;
  height:30px;
}
#u215 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u216 {
  position:absolute;
  left:983px;
  top:1670px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u218 {
  position:absolute;
  left:862px;
  top:1728px;
  width:306px;
  height:19px;
  font-size:16px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u220 {
  position:absolute;
  left:862px;
  top:1757px;
  width:306px;
  height:19px;
  font-size:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u222 {
  position:absolute;
  left:862px;
  top:1786px;
  width:306px;
  height:19px;
  font-size:16px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u224 {
  position:absolute;
  left:862px;
  top:1815px;
  width:306px;
  height:19px;
  font-size:16px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u227 {
  position:absolute;
  left:851px;
  top:1626px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u230 {
  position:absolute;
  left:851px;
  top:1883px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:851px;
  top:300px;
  width:317px;
  height:196px;
}
#u234 {
  position:absolute;
  left:2px;
  top:90px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u235 {
  position:absolute;
  left:885px;
  top:364px;
  width:270px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u237 {
  position:absolute;
  left:987px;
  top:322px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u239 {
  position:absolute;
  left:1138px;
  top:300px;
  width:30px;
  height:30px;
}
#u240 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  position:absolute;
  left:919px;
  top:427px;
  width:184px;
  height:48px;
}
#u242 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u244 {
  position:absolute;
  left:851px;
  top:265px;
  width:289px;
  height:26px;
  font-size:18px;
  color:#999999;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u246 {
  position:absolute;
  left:450px;
  top:32px;
  width:342px;
  height:22px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u248 {
  position:absolute;
  left:300px;
  top:32px;
  width:20px;
  height:20px;
}
#u249 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:320px;
  top:42px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u250_seg1 {
  position:absolute;
  left:119px;
  top:-4px;
  width:8px;
  height:13px;
}
#u250_seg2 {
  position:absolute;
  left:103px;
  top:-23px;
  width:40px;
  height:41px;
}
#u251 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
