<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isell.service.shop.dao.CoonShopNoticeMapper">
    <resultMap id="BaseResultMap" type="com.isell.service.shop.vo.CoonShopNotice">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="s_id" jdbcType="VARCHAR" property="sId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="createtime" jdbcType="DATE" property="createtime"/>
    </resultMap>
    <select id="getCoonShopNoticeById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             coon_shop_notice
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </select>
    
    <!-- 分页查询公告列表 -->
    <select id="findCoonShopNoticePage" resultMap="BaseResultMap" parameterType="com.isell.service.shop.vo.CoonShopNotice">
          SELECT * FROM coon_shop_notice 
          where 1 = 1 
          <if test="sId != null  and sId != ''" >
                and s_id =  #{sId,jdbcType=VARCHAR}
          </if>
    </select>
    
    <select id="findAllCoonShopNotice" resultMap="BaseResultMap">
          SELECT * FROM coon_shop_notice 
    </select>
    
    <delete id="deleteCoonShopNotice">
        DELETE
        FROM
             coon_shop_notice
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="saveCoonShopNotice" parameterType="com.isell.service.shop.vo.CoonShopNotice" >
        INSERT INTO coon_shop_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="sId != null" >
                s_id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if> 
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if> 
            <if test="sId != null" >
                #{sId,jdbcType=VARCHAR},
            </if> 
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if> 
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if> 
            <if test="createtime != null" >
                #{createtime,jdbcType=DATE},
            </if> 
        </trim>
    </insert>

    <update id="updateCoonShopNotice" parameterType="com.isell.service.shop.vo.CoonShopNotice" >
        UPDATE coon_shop_notice
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="sId != null" >
                s_id = #{sId,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=DATE},
            </if>
        </set>
        WHERE 
            id = #{id,jdbcType=INTEGER}
    </update>
</mapper>