<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<base href="../"/>
<link rel="stylesheet" type="text/css" href="../css/icons.css" />
<link rel="stylesheet" type="text/css" href="../skin/default/main.css" id="main-css"/>
<link rel="stylesheet" type="text/css" href="../skin/default/jquery-grid.css"  id="grid-css"/>
<link rel="stylesheet" type="text/css" href="../skin/default/jquery-dialog.css" id="dialog-css"/>
<link rel="stylesheet" type="text/css" href="../skin/default/jquery.checkForm.css" id="checkform-css"/>
<link rel="stylesheet" type="text/css" href="../skin/default/jquery-button.css" id="button-css"/>
<link rel="stylesheet" type="text/css" href="../js/jquery/css/jquery-tab.css" id="tab-css"/>
<script type="text/javascript" src="../js/jquery/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.mark.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-dialog.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-grid.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-checkForm.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.stopBubble.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-button.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-tab.js"></script>
<title>增删改查Tab式demo</title>
<style type="">
h2{ border-bottom: 1px solid;}
html,body{background-color: #EEF7FE;overflow: hidden;}
</style>
<script type="text/javascript">

</script>
</head>
<body>
<div id="main">
<div class="container">
	<div class="c_nw"><div class="c_ne"><div class="c_n"></div></div></div>
	<span class="title-l">
		<span class="title-r">
			<b class="icon"></b><span class="title-span">基本信息</span>
		</span>
	</span>
	<div class="tools-panel"></div>
	<div class="c_w">
		<div class="c_e">
			<div class="c_content">
				<table border="0" cellpadding="1" cellspacing="1" align="center" style="float: left">
					<tr>
						<td align="right">姓名：</td>
						<td>
							<input name="userAccount" type="text" style="width: 110px;" maxlength="25" validate="string|0-25" value="周星驰" disabled/>
						</td>
						<td align="right" style="width: 80px;">年龄：</td>
						<td><input name="workerName" type="text" style="width: 110px;" maxlength="20" validate="string|0-20" value="56" disabled/></td>
						
						<td></td>
					</tr>
					<tr>
						<td align="right">性别：</td>
						<td><input name="userCancelDate" type="text" style="width: 110px;" class="Wdate"
							onclick="WdatePicker({skin:'whyGreen'});" validate="date|0-14" value="女" disabled/>
						</td>
						<td align="right" style="width: 80px;">户籍：</td>
						<td><input name="workerName" type="text" style="width: 110px;" maxlength="20" validate="string|0-20" value="江苏常州" disabled/></td>

						<td>
							 
						</td>
					</tr>
				</table>
				
			</div>
		</div>
	</div>
	<div class="c_sw"><div class="c_se"><div class="c_s"></div></div></div>
</div>
<div class="container">
	<div class="c_nw"><div class="c_ne"><div class="c_n"></div></div></div>
	<span class="title-l">
		<span class="title-r">
			<b class="icon"></b><span class="title-span">证件号的crud</span>
		</span>
	</span>
	<div class="tools-panel"></div>
	<div class="c_w">
		<div class="c_e">
			<div class="c_content">
				
				
				
			</div>
		</div>
	</div>
	<div class="c_sw"><div class="c_se"><div class="c_s"></div></div></div>
</div>
</body>
</html>