body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:765px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:168px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:43px;
}
#u3 {
  position:absolute;
  left:100px;
  top:0px;
  width:67px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:63px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:43px;
}
#u5 {
  position:absolute;
  left:167px;
  top:0px;
  width:402px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:398px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:43px;
}
#u7 {
  position:absolute;
  left:569px;
  top:0px;
  width:176px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:43px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u11 {
  position:absolute;
  left:100px;
  top:43px;
  width:67px;
  height:30px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u13 {
  position:absolute;
  left:167px;
  top:43px;
  width:402px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:398px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u15 {
  position:absolute;
  left:569px;
  top:43px;
  width:176px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:73px;
  width:100px;
  height:30px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u19 {
  position:absolute;
  left:100px;
  top:73px;
  width:67px;
  height:30px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u21 {
  position:absolute;
  left:167px;
  top:73px;
  width:402px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:398px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u23 {
  position:absolute;
  left:569px;
  top:73px;
  width:176px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:103px;
  width:100px;
  height:30px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u27 {
  position:absolute;
  left:100px;
  top:103px;
  width:67px;
  height:30px;
  text-align:center;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u29 {
  position:absolute;
  left:167px;
  top:103px;
  width:402px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:398px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u31 {
  position:absolute;
  left:569px;
  top:103px;
  width:176px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u33 {
  position:absolute;
  left:0px;
  top:133px;
  width:100px;
  height:30px;
  text-align:center;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u35 {
  position:absolute;
  left:100px;
  top:133px;
  width:67px;
  height:30px;
  text-align:center;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u37 {
  position:absolute;
  left:167px;
  top:133px;
  width:402px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:398px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u39 {
  position:absolute;
  left:569px;
  top:133px;
  width:176px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
