<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.dip.dictionary.dao.DipDictionaryTypeMapper">
	
 	<sql id="dipDictTypeCol">
		type_id, type_name, type_code, remark, is_deleted, parent_id, version, standard_code
	</sql>  
  
	<insert id="addDipDictionaryType" parameterType="com.zebone.dip.dictionary.vo.DipDictionaryType" >
		insert into P_DICTIONARY_TYPE 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type_id != null">
				type_id,
			</if>
			<if test="type_name != null">
				type_name,
			</if>
			<if test="type_code != null">
				type_code,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="parent_id != null">
				parent_id,
			</if>
			<if test="type_id != null">
				version,
			</if>
            <if test="standard_code != null">
                standard_code,
            </if>
            <if test="1==1">
            	timestamp,
            </if>
		</trim>
			 
		values 
		
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type_id != null">
				#{type_id},
			</if>
			<if test="type_name != null">
				#{type_name},
			</if>
			<if test="type_code != null">
				#{type_code},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="parent_id != null">
				#{parent_id},
			</if>
			<if test="type_id != null">
				#{version},
			</if>
            <if test="standard_code != null">
                #{standard_code},
            </if>
            <if test="1==1">
            	CURRENT_TIMESTAMP,
            </if>
		</trim>
	</insert>
	
	
	<update id="updateDipDictionaryType" parameterType="com.zebone.dip.dictionary.vo.DipDictionaryType">
		update P_DICTIONARY_TYPE 
		<set>
			<if test="type_name != null">
				type_name = #{type_name,jdbcType=VARCHAR},
			</if>
			<if test="type_code != null">
				type_code = #{type_code,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="parent_id != null">
				parent_id = #{parent_id,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=VARCHAR},
			</if>
            <if test="standard_code != null">
                standard_code = #{standard_code,jdbcType=VARCHAR},
            </if>
            <if test="1==1">
            	timestamp=CURRENT_TIMESTAMP,
            </if>
		</set>
		where type_id = #{type_id,jdbcType=VARCHAR} 
	</update>
	
	<!-- <update id="deleteDictionaryByIds" parameterType="list">
		update P_DICTIONARY_TYPE set is_delete=1 
	</update> -->
	
	<select id="searchDipDictionaryType" parameterType="com.zebone.dip.dictionary.vo.DipDictionaryType" resultType="com.zebone.dip.dictionary.vo.DipDictionaryType">
		select A.type_id,A.type_name,A.type_code,A.standard_code,A.version,B.type_name as parent_id from P_DICTIONARY_TYPE A
		LEFT JOIN P_DICTIONARY_TYPE B ON A.parent_id = B.type_id
		<where>
			A.IS_DELETED = 0
			<if test="parent_id!=null and parent_id!=''">
				and A.parent_id = #{parent_id,jdbcType=VARCHAR}
			</if>
			<if test="parent_id==null or parent_id==''">
				and A.parent_id != '1'
			</if>
			<if test="type_name!=null and type_name!=''">
				and (A.type_name like '%' || #{type_name,jdbcType=VARCHAR} || '%' escape '/' or A.standard_code like '%' || #{type_name,jdbcType=VARCHAR} || '%' escape '/' )
			</if>
			<if test="version!=null and version!=''">
				and A.version like '%' || #{version,jdbcType=VARCHAR} || '%' escape '/'
			</if>
		</where>		
		 ORDER BY standard_code ASC  
	</select>
		
	<select id="searchDipDictionaryTypeCount" resultType="int">
		select count(*) from P_DICTIONARY_TYPE 
		<where>
			IS_DELETED = 0
			<if test="parent_id!=null and parent_id!=''">
				and parent_id = #{parent_id,jdbcType=VARCHAR}
			</if>
			<if test="parent_id==null or parent_id==''">
				and parent_id != '1'
			</if>
			<if test="type_name!=null and type_name!=''">
				and (type_name like '%' || #{type_name,jdbcType=VARCHAR} || '%' escape '/' or standard_code like '%' || #{type_name,jdbcType=VARCHAR} || '%' escape '/' )
			</if>
			<if test="version!=null and version!=''">
				and version like '%' || #{version,jdbcType=VARCHAR} || '%' escape '/'
			</if>
		</where>
	</select>
	
	<!-- 按照类型和名称查找个数 -->
	<select id="countTypeByParentIdAndName" resultType="int" parameterType="com.zebone.dip.dictionary.vo.DipDictionaryType" >
		select count(*) from P_DICTIONARY_TYPE where parent_id = #{parent_id,jdbcType=VARCHAR} and type_name = #{type_name,jdbcType=VARCHAR}
	</select>
	
	<select id="getAllDipDictionaryType" resultType="com.zebone.dip.dictionary.vo.DipDictionaryType">
		select <include refid="dipDictTypeCol"/> from P_DICTIONARY_TYPE where IS_DELETED = 0 ORDER BY type_name ASC
	</select>
	<select id="getAllDipDictionaryTypeCount" resultType="int">
		select count(*) from P_DICTIONARY_TYPE where IS_DELETED = 0
	</select>
	
 
	
 	<select id="checkDicTypeChildrenBeforeDelete" resultType="int">
		select count(type_id) from P_DICTIONARY_TYPE t where t.is_deleted = 0 and t.parent_id in
	 	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>  
	</select>
	
	<!-- <select id="getDipDictionaryTypeByParentId" resultType="com.zebone.dip.dictionary.vo.DipDictionaryType" parameterType="string">
		select <include refid="dipDictTypeCol"/> from P_DICTIONARY_TYPE where IS_DELETED = 0 and parent_id=#{id, jdbcType=VARCHAR}
	</select> -->
	<select id="getDipDictionaryTypeByParentIdCount" resultType="int" parameterType="string">
		select count(distinct(type_name)) from P_DICTIONARY_TYPE where parent_id=#{id, jdbcType=VARCHAR}
	</select>
	
	<select id="getDipDictionaryTypeById" resultType="com.zebone.dip.dictionary.vo.DipDictionaryType" parameterType="string">
		select <include refid="dipDictTypeCol"/> from P_DICTIONARY_TYPE where type_id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="getTypeCodeListByParentIdAndTypeName" parameterType="com.zebone.dip.dictionary.vo.DipDictionaryType" resultType="java.lang.String">
		SELECT type_code FROM P_DICTIONARY_TYPE T WHERE T.IS_DELETED = 0 AND T.TYPE_NAME = #{type_name,jdbcType=VARCHAR} AND T.PARENT_ID = #{parent_id, jdbcType=VARCHAR}
	</select>
	
	<update id="deleteDipDictionaryTypeByIds">

		update P_DICTIONARY_TYPE t set t.is_deleted=1 where t.type_id in 
	 	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
		
	</update>
	
	<select id="getDictInfoByName" parameterType="java.lang.String" resultType="com.zebone.btp.app.dict.pojo.DictionaryType">
	  	<![CDATA[
	  	SELECT T.TYPE_ID AS typeId,T.TYPE_NAME AS typeName,T.TYPE_CODE AS typeCode
	  	FROM P_DICTIONARY_TYPE T 
	  	WHERE T.IS_DELETED = 0 AND T.TYPE_NAME LIKE '%'|| #{name,jdbcType=VARCHAR} ||'%'
	  	AND T.PARENT_ID != '1'
	  	AND ROWNUM <= 10
		]]>
  	</select>
  	<select id="getLevel1DictType" resultType="com.zebone.dip.dictionary.vo.DipDictionaryType">
  		select <include refid="dipDictTypeCol"/> from P_DICTIONARY_TYPE 
  		where IS_DELETED = 0 AND PARENT_ID ='1' ORDER BY order_no ASC
  	</select>

    <select id="getMatchDictInfo" parameterType="java.lang.String" resultType="com.zebone.dip.dictionary.vo.DipDictionaryType">
	  	<![CDATA[
	  	SELECT T.TYPE_ID,T.TYPE_NAME,T.TYPE_CODE FROM P_DICTIONARY_TYPE T
	  	WHERE T.IS_DELETED = 0 AND T.TYPE_NAME LIKE '%'|| #{name,jdbcType=VARCHAR} ||'%'
	  	AND T.PARENT_ID != '1'
	  	AND ROWNUM <= 10
		]]>
  	</select>

    <select id="getMatchMDInfo" parameterType="java.lang.String" resultType="com.zebone.dip.dictionary.vo.DipDictionaryType">
  	<![CDATA[
  	SELECT T.ID_ AS TYPE_ID,T.CODE AS TYPE_CODE,T.NAME AS TYPE_NAME FROM P_MASTER_DATA T
  	WHERE T.NAME LIKE '%'|| #{name,jdbcType=VARCHAR} ||'%'
  	AND ROWNUM <= 10
	]]>
  </select>
</mapper>
