<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isell.service.order.dao.CoolOrderMapper">
    <resultMap id="BaseResultMap" type="com.isell.service.order.vo.CoolOrder">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="location_p" jdbcType="VARCHAR" property="locationP"/>
        <result column="location_c" jdbcType="VARCHAR" property="locationC"/>
        <result column="location_a" jdbcType="VARCHAR" property="locationA"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="linkman" jdbcType="VARCHAR" property="linkman"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="psfs" jdbcType="VARCHAR" property="psfs"/>
        <result column="ps_price" jdbcType="DECIMAL" property="psPrice"/>
        <result column="zffs" jdbcType="INTEGER" property="zffs"/>
        <result column="comments" jdbcType="VARCHAR" property="comments"/>
        <result column="total" jdbcType="DECIMAL" property="total"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="m_id" jdbcType="INTEGER" property="mId"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="o_type" jdbcType="TINYINT" property="oType"/>
        <result column="b_id" jdbcType="INTEGER" property="bId"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="ps_code" jdbcType="VARCHAR" property="psCode"/>
        <result column="oid_billno" jdbcType="VARCHAR" property="oidBillno"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="trade_no" jdbcType="VARCHAR" property="tradeNo"/>
        <result column="distributors" jdbcType="INTEGER" property="distributors"/>
        <result column="supplier" jdbcType="VARCHAR" property="supplier"/>
        <result column="supplier_settle" jdbcType="BIT" property="supplierSettle"/>
        <result column="zipcode" jdbcType="VARCHAR" property="zipcode"/>
        <result column="supplier_profit" jdbcType="DECIMAL" property="supplierProfit"/>
        <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime"/>
        <result column="pay_state" jdbcType="TINYINT" property="payState"/>
        <result column="order_type" jdbcType="TINYINT" property="orderType"/>
        <result column="is_del" jdbcType="TINYINT" property="isDel"/>
        <result column="share_user" jdbcType="VARCHAR" property="shareUser"/>
        <result column="share_added" jdbcType="BIT" property="shareAdded"/>
        <result column="bigpen" jdbcType="VARCHAR" property="bigpen"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="is_del_m" jdbcType="TINYINT" property="isDelM"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
        <result column="sup_Name" jdbcType="VARCHAR" property="supName"/>
        <result column="fhfs" jdbcType="TINYINT" property="fhfs"/>
        <result column="is_batch" jdbcType="TINYINT" property="isBatch"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="tax_price" jdbcType="DECIMAL" property="taxPrice"/>
        <result column="arrears" jdbcType="INTEGER" property="arrears"/>
        <result column="refund_state" jdbcType="INTEGER" property="refundState"/>
        <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount"/>
        <result column="order_oldno" jdbcType="VARCHAR" property="orderOldno"/>
        <result column="discount_price" jdbcType="DECIMAL" property="discountPrice"/>
        <result column="returnUrl" jdbcType="VARCHAR" property="returnUrl"/>
    </resultMap>
    <!-- 导出返回类 -->
    <resultMap id="ExportMap" type="com.isell.service.order.po.CoolOrderExport">
    	<result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
    	<result column="state" jdbcType="TINYINT" property="state"/>
    	<result column="name" jdbcType="VARCHAR" property="name"/>
    	<result column="count" jdbcType="INTEGER" property="count"/>
    	<result column="price" jdbcType="DECIMAL" property="price"/>
    	<result column="supplier" jdbcType="VARCHAR" property="supplier"/>
    	<result column="sup_name" jdbcType="VARCHAR" property="supName"/>
    	<result column="ps_code" jdbcType="VARCHAR" property="psCode"/>
    </resultMap>
    <!-- 统计返回类 -->
    <resultMap id="StatisticsMap" type="com.isell.core.common.StatisticsPo">
    	<result column="statistics_k" jdbcType="VARCHAR" property="statistics_k"/>
    	<result column="statistics_v_s" jdbcType="VARCHAR" property="statistics_v_s"/>
    	<result column="statistics_v_b" jdbcType="DECIMAL" property="statistics_v_b"/>
    	<result column="statistics_v_i" jdbcType="INTEGER" property="statistics_v_i"/>
    </resultMap>
    <!-- 商品信息返回类 -->
    <resultMap id="CoolProductInfoMap" type="com.isell.service.product.po.CoolProductInfo">
        <result column="pId" jdbcType="INTEGER" property="pId"/>
        <result column="gId" jdbcType="INTEGER" property="gId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="gg" jdbcType="VARCHAR" property="gg"/>
        <result column="drp_price" jdbcType="DECIMAL" property="drpPrice"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
    </resultMap>
     <!-- 商品对外查询 -->
    <resultMap id="GetOrderExternal" type="com.isell.service.order.po.CoolOrderExternal" >
   	  <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="location_p" jdbcType="VARCHAR" property="locationP"/>
        <result column="location_c" jdbcType="VARCHAR" property="locationC"/>
        <result column="location_a" jdbcType="VARCHAR" property="locationA"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="linkman" jdbcType="VARCHAR" property="linkman"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="psfs" jdbcType="VARCHAR" property="psfs"/>
        <result column="ps_price" jdbcType="DECIMAL" property="psPrice"/>
        <result column="zffs" jdbcType="INTEGER" property="zffs"/>
        <result column="total" jdbcType="DECIMAL" property="total"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="order_oldno" jdbcType="VARCHAR" property="orderNo"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="ps_code" jdbcType="VARCHAR" property="psCode"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="trade_no" jdbcType="VARCHAR" property="tradeNo"/>
        <result column="zipcode" jdbcType="VARCHAR" property="zipcode"/>
        <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime"/>
        <result column="pay_state" jdbcType="TINYINT" property="payState"/>
        <result column="order_type" jdbcType="TINYINT" property="orderType"/>
        <result column="bigpen" jdbcType="VARCHAR" property="bigpen"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
        <result column="tax_price" jdbcType="DECIMAL" property="taxPrice"/>
        <result column="fhfs" jdbcType="TINYINT" property="fhfs"/>
        <result column="refund_state" jdbcType="INTEGER" property="refundState"/>
        <result column="o_type" jdbcType="TINYINT" property="oType"/>
        <collection property="items" column="id" ofType="com.isell.service.order.po.CoolOrderItemExternal">
	        <result column="name" jdbcType="VARCHAR" property="name"/>
	        <result column="logo" jdbcType="VARCHAR" property="logo"/>
	        <result column="gg" jdbcType="VARCHAR" property="gg"/>
	        <result column="count" jdbcType="INTEGER" property="count"/>
	        <result column="price" jdbcType="DECIMAL" property="price"/>
        </collection>
    </resultMap>
    <resultMap type="com.isell.service.order.po.CoolOrderWayBillReturn" id="CoolOrderWayBill">
	      <result column="order_oldno" jdbcType="VARCHAR" property="orderOldNo"/>
	      <result column="ps_code" jdbcType="VARCHAR" property="wayBillNo"/>
	      <result column="psfs" jdbcType="VARCHAR" property="sendStyle"/>
     	  <result column="reason" jdbcType="VARCHAR" property="cause"/>
     	  <result column="createtime" jdbcType="VARCHAR" property="createtime"/>
     	  <result column="sendtime" jdbcType="VARCHAR" property="sendtime"/>
     	   <result column="time" jdbcType="VARCHAR" property="time"/>
    </resultMap>
    <!-- 获取订单金额 -->
    <select id="getSumAmount" resultType="java.math.BigDecimal">
        SELECT
            ifnull(sum(o.total),0)
        FROM
             cool_order o
        inner join 
        	coon_run_account a on a.order_no = o.order_no
        WHERE            
            o.supplier = #{shopId,jdbcType=VARCHAR}
            and (o.createtime between #{beginTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR})
            and (a.create_time between #{beginTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR})
            and a.type = 0 and a.is_freeze = 0
    </select>
    
    <!-- 根据会员主键跟状态获取定单数 -->
    <select id="getOrderCountBymIdAndState" resultType="java.lang.Integer">
        SELECT
            ifnull(count(1),0)
        FROM
             cool_order
         WHERE 
             m_id = #{mId,jdbcType=INTEGER} and state like #{state}             
    </select>
    
    <!-- 获取定单数 -->
    <select id="getOrderCount" resultType="java.lang.Integer">
        SELECT
            ifnull(count(1),0)
        FROM
             cool_order o
        inner join 
        	coon_run_account a on a.order_no = o.order_no
        WHERE            
            o.supplier = #{shopId,jdbcType=VARCHAR}
            and (o.createtime between #{beginTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR})
            and (a.create_time between #{beginTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR})
            and a.type = 0 and a.is_freeze = 0
    </select>
    
    <!-- 获取一件代发购买过的商品列表 -->
    <select id="getCoolProductInfoList" resultMap="CoolProductInfoMap"  parameterType="com.isell.service.order.po.CoolOrderParam">
        SELECT g.id as  gId, p.id as pId, p.name as name, p.name_en as name_en, p.logo as logo, g.gg as gg, g.drp_price as drp_price,if(g.stock>0, g.stock, 0) as stock 
        from
        (SELECT
            i.g_id,i.gid
        FROM
             cool_order o
        INNER JOIN 
         	cool_order_item i on i.order_no = o.order_no      	 
        WHERE o.order_type = 1
        <if test="supplier != null and supplier != ''">
        	and o.supplier = #{supplier,jdbcType=VARCHAR} 
        </if>        
        <if test="pName != null and pName != ''">
        	and i.name like CONCAT(CONCAT('%', #{pName}), '%')
        </if>   
       	) oi 
       	left join 
       		cool_product_gg g on g.id = oi.gid
	    left join 
	    	cool_product p on p.id = oi.g_id            
    </select>
    
    <select id="getCoolOrderById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_order
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="getCoolOrderByOrderNo" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_order
        WHERE            
            order_no = #{orderNo,jdbcType=VARCHAR}
    </select>
    
    <select id="getCoolOrderByPsCode" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_order
        WHERE            
            ps_code = #{psCode,jdbcType=VARCHAR}
    </select>
    
    <select id="getOrderByPsCode" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_order
        WHERE            
            ps_code = #{psCode,jdbcType=VARCHAR}
    </select>
    
    <!-- 根据外部订单号查询 -->
    <select id="getCoolOrderByOrderOldNoList" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_order
        WHERE            
            order_oldno = #{orderOldNo,jdbcType=VARCHAR}
            <if test="supplier != null and supplier != ''">
            	and supplier = #{supplier,jdbcType=VARCHAR}
            </if>
    </select>
    
    <select id="getCoolOrderList" resultMap="BaseResultMap">
        select * from cool_order where 1=1 
        <if test="state != null"> and state=#{state} </if>
        <if test="fhfs != null"> and fhfs=#{fhfs} </if>
        <if test="arrears != null"> and arrears=#{arrears} </if>
        <if test="createtime != null"> and createtime <![CDATA[<]]> #{createtime} </if>
        <if test="updatetime != null"> and updatetime <![CDATA[<]]> #{updatetime} </if>
        <if test="startTime != null"> and createtime <![CDATA[>]]> #{startTime} </if>
        <if test="endTime != null"> and createtime <![CDATA[<]]> #{endTime} </if>
    </select>
    
    <!-- 统计订单数 -->
    <!-- 1 按年 2 按月 3 按日 -->
    <select id="getSumCoolOrderNumber" resultMap="StatisticsMap">
        SELECT
            <if test="selectType == 1">  
            	 left(createtime,7) as statistics_k,
            </if>
            <if test="selectType == 2">
            	 left(createtime,10) as statistics_k,
            </if>
            <if test="selectType == 3">
            	 left(createtime,13) as statistics_k,
            </if>            
            count(*) as statistics_v_i
        FROM
             cool_order
        WHERE            
            (state = 1 or state = 2 or state = 3 or state = 4)
            <if test="selectType == 1">  
            	 and left(createtime,4) = left(#{time},4)
            </if>
            <if test="selectType == 2">
            	 and left(createtime,7) = left(#{time},7)
            </if>
            <if test="selectType == 3">
            	 and left(createtime,10) = left(#{time},10)
            </if> 
         group by 
            <if test="selectType == 1">  
            	 left(createtime,7) order by left(createtime,7)
            </if>
            <if test="selectType == 2">
            	 left(createtime,10) order by left(createtime,10)
            </if>
            <if test="selectType == 3">
            	 left(createtime,13) order by left(createtime,13)
            </if>
    </select>
    
    <!-- 统计销售额 -->
    <!-- 1 按年 2 按月 3 按日 -->
    <select id="getSumCoolOrderSales" resultMap="StatisticsMap">
        SELECT
            <if test="selectType == 1">  
            	 left(createtime,7) as statistics_k,
            </if>
            <if test="selectType == 2">
            	 left(createtime,10) as statistics_k,
            </if>
            <if test="selectType == 3">
            	 left(createtime,13) as statistics_k,
            </if>            
            sum(total) as statistics_v_b
        FROM
             cool_order
        WHERE            
            (state = 1 or state = 2 or state = 3 or state = 4)
            <if test="selectType == 1">  
            	 and left(createtime,4) = left(#{time},4)
            </if>
            <if test="selectType == 2">
            	 and left(createtime,7) = left(#{time},7)
            </if>
            <if test="selectType == 3">
            	 and left(createtime,10) = left(#{time},10)
            </if> 
         group by 
            <if test="selectType == 1">  
            	 left(createtime,7) order by left(createtime,7)
            </if>
            <if test="selectType == 2">
            	 left(createtime,10) order by left(createtime,10)
            </if>
            <if test="selectType == 3">
            	 left(createtime,13) order by left(createtime,13)
            </if>
    </select>
    
    <!-- 统计店铺销售额排名 -->
    <select id="getSumCoonShopSales" resultMap="BaseResultMap" parameterType="com.isell.service.order.po.CoolOrderSelect">
    	select * from (
			select o.supplier,s.name as sup_Name,sum(o.total) as total, sum(o.supplier_profit) as supplier_profit
			from cool_order o
			left join coon_shop s on s.id = o.supplier 
			where (o.state = 1 or o.state = 2 or o.state = 3 or o.state = 4) and left(o.createtime,10) <![CDATA[<]]> left(now(),10) and o.supplier is not null
			group by o.supplier desc
			order by sum(o.total) desc limit 10) a1
		union all
		select * from (
			select '' as supplier, '总计' as sup_Name,sum(o2.total) as total, sum(o2.supplier_profit) as supplier_profit
			from cool_order o2
			where (o2.state = 1 or o2.state = 2 or o2.state = 3 or o2.state = 4) and left(o2.createtime,10) <![CDATA[<]]> left(now(),10) )a2
    </select>
    
    <!-- 根据条件分页查询订单列表 -->
    <sql id="where_sql">
    	where 1=1 
    	<if test="id != null">
    		and a.id = #{id,jdbcType=INTEGER}
    	</if>
    	<if test="orderNo != null">
    		and a.order_no = #{orderNo}
    	</if>
    	<if test="psfs != null and psfs != ''">
    		and a.psfs = #{psfs,jdbcType=VARCHAR}
    	</if>
    	<if test="zffs != null">
    		and a.zffs = #{zffs,jdbcType=INTEGER}
    	</if>
    	<if test="state != null">
    		and a.state = #{state,jdbcType=TINYINT}
    	</if>
    	<if test="mId != null">
    		and  a.m_id = #{mId,jdbcType=INTEGER} and  is_Del_m = 0
    	</if>
    	<if test="oType != null">
    		and  a.o_type = #{oType,jdbcType=TINYINT}
    	</if>
    	<if test="supplier != null and supplier != ''">
    		and  a.supplier = #{supplier} and is_del = 0
    	</if>
    	<if test="payTime != null">
    		and  a.pay_state = #{payTime,jdbcType=TINYINT}
    	</if>
    	<if test="orderType != null">
    		and  a.order_type = #{orderType,jdbcType=TINYINT}
    	</if>
    	<if test="startUpdatetime != null"> 
    		and a.updatetime <![CDATA[>=]]> #{startUpdatetime} 
    	</if>
        <if test="endUpdatetime != null"> 
        	and a.updatetime <![CDATA[<=]]> #{endUpdatetime} 
        </if>
        <if test="fhfs != null"> 
        	and a.fhfs = #{fhfs} 
        </if>
        <if test="pName != null and pName != ''"> 
         	and exists(select 'X' from cool_order_item i where i.order_no = a.order_no and i.name like CONCAT(CONCAT('%', #{pName}), '%'))
        </if>
        <if test="appSelect != null and appSelect != ''"> 
         	and (exists(select 'X' from cool_order_item i where i.order_no = a.order_no and i.name like CONCAT(CONCAT('%', #{appSelect}), '%'))
         	or a.order_no like CONCAT(CONCAT('%', #{appSelect}), '%'))
        </if>
    </sql>
    <select id="getCoolOrderPageList" resultMap="BaseResultMap" parameterType="com.isell.service.order.po.CoolOrderSelect">
    	select a.*,b.name as sName from cool_order a 
    	left join coon_shop b on a.supplier=b.id
    	<include refid="where_sql"></include>
    	 order by a.createtime desc
    </select>
    <select id="getCoolOrderPageListCount" parameterType="com.isell.service.order.po.CoolOrderSelect" resultType="int">
    	select count(*) from cool_order a
    	<include refid="where_sql"></include>
    </select>
    
    <!-- 根据条件查询导出订单列表 -->
    <select id="getCoolOrderListExport" parameterType="com.isell.service.order.po.CoolOrderSelect" resultMap="ExportMap">
    	select o.order_no, o.state, i.name, i.count, (i.count*i.price) as price, o.supplier, s.name as sup_name, o.ps_code
    	from cool_order o
    	left join cool_order_item i on o.order_no = i.order_no 
    	left join coon_shop s on s.id = o.supplier
    	where 1=1 
    	<if test="startTime != null">
    		and o.createtime <![CDATA[>=]]> #{startTime}
    	</if>
    	<if test="endTime != null">
    		and o.createtime <![CDATA[<=]]> #{endTime}
    	</if>
    	<if test="orderNo != null and orderNo != ''">
    		and o.order_no = #{orderNo}
    	</if>
    	<if test="supName != null and supName != ''">
    		and s.name like CONCAT(CONCAT('%', #{supName}), '%') 
    	</if>
    	<if test="order_type != null">
    		and o.order_type = #{orderType}
    	</if>
    	<if test="state != null">
    		and o.state = #{state}
    	</if>
    	<if test="locationP != null and locationP != ''">
    		and o.location_p = #{locationP}
    	</if>
    	<if test="locationC != null and locationC != ''">
    		and o.location_c = #{locationC}
    	</if>
    	<if test="locationA != null and locationA != ''">
    		and o.location_a = #{locationA}
    	</if>
    	order by createtime desc
    </select>
    
    <delete id="deleteCoolOrder">
        DELETE
        FROM
             cool_order
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </delete>

   
   
    <insert id="saveCoolOrder" parameterType="com.isell.service.order.vo.CoolOrder" >
        INSERT INTO cool_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="locationP != null" >
                location_p,
            </if>
            <if test="locationC != null" >
                location_c,
            </if>
            <if test="locationA != null" >
                location_a,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="linkman != null" >
                linkman,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="tel != null" >
                tel,
            </if>
            <if test="psfs != null" >
                psfs,
            </if>
            <if test="psPrice != null" >
                ps_price,
            </if>
            <if test="zffs != null" >
                zffs,
            </if>
            <if test="comments != null" >
                comments,
            </if>
            <if test="total != null" >
                total,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="orderNo != null" >
                order_no,
            </if>
            <if test="mId != null" >
                m_id,
            </if>
            <if test="updatetime != null" >
                updatetime,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="score != null" >
                score,
            </if>
            <if test="oType != null" >
                o_type,
            </if>
            <if test="bId != null" >
                b_id,
            </if>
            <if test="reason != null" >
                reason,
            </if>
            <if test="psCode != null" >
                ps_code,
            </if>
            <if test="oidBillno != null" >
                oid_billno,
            </if>
            <if test="payTime != null" >
                pay_time,
            </if>
            <if test="tradeNo != null" >
                trade_no,
            </if>
            <if test="distributors != null" >
                distributors,
            </if>
            <if test="supplier != null" >
                supplier,
            </if>
            <if test="supplierSettle != null" >
                supplier_settle,
            </if>
            <if test="zipcode != null" >
                zipcode,
            </if>
            <if test="supplierProfit != null" >
                supplier_profit,
            </if>
            <if test="finishTime != null" >
                finish_time,
            </if>
            <if test="payState != null" >
                pay_state,
            </if>
            <if test="orderType != null" >
                order_type,
            </if>
            <if test="isDel != null" >
                is_del,
            </if>
            <if test="shareUser != null" >
                share_user,
            </if>
            <if test="shareAdded != null" >
                share_added,
            </if>
            <if test="bigpen != null" >
                bigpen,
            </if>
            <if test="barcode != null" >
                barcode,
            </if>
            <if test="idcard != null" >
                idcard,
            </if>
            <if test="isDelM != null" >
                is_del_m,
            </if>
            <if test="fhfs != null" >
                fhfs,
            </if>
            <if test="isBatch != null" >
                is_batch,
            </if>
            <if test="source != null" >
                source,
            </if>
            <if test="taxPrice != null" >
                tax_price,
            </if>
             <if test="arrears != null" >
                arrears,
            </if>
             <if test="refundState != null" >
                refund_state,
            </if>
            <if test="refundAmount != null" >
                refund_amount,
            </if>
            <if test="orderOldno != null" > 
                order_oldno, 
            </if> 
            <if test="discountPrice != null" > 
                discount_price, 
            </if>
             <if test="returnUrl != null" > 
                returnUrl, 
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if> 
            <if test="locationP != null" >
                #{locationP,jdbcType=VARCHAR},
            </if> 
            <if test="locationC != null" >
                #{locationC,jdbcType=VARCHAR},
            </if> 
            <if test="locationA != null" >
                #{locationA,jdbcType=VARCHAR},
            </if> 
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if> 
            <if test="linkman != null" >
                #{linkman,jdbcType=VARCHAR},
            </if> 
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if> 
            <if test="tel != null" >
                #{tel,jdbcType=VARCHAR},
            </if> 
            <if test="psfs != null" >
                #{psfs,jdbcType=VARCHAR},
            </if> 
            <if test="psPrice != null" >
                #{psPrice,jdbcType=DECIMAL},
            </if> 
            <if test="zffs != null" >
                #{zffs,jdbcType=INTEGER},
            </if> 
            <if test="comments != null" >
                #{comments,jdbcType=VARCHAR},
            </if> 
            <if test="total != null" >
                #{total,jdbcType=DECIMAL},
            </if> 
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if> 
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if> 
            <if test="orderNo != null" >
                #{orderNo,jdbcType=VARCHAR},
            </if> 
            <if test="mId != null" >
                #{mId,jdbcType=INTEGER},
            </if> 
            <if test="updatetime != null" >
                #{updatetime,jdbcType=TIMESTAMP},
            </if> 
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if> 
            <if test="score != null" >
                #{score,jdbcType=INTEGER},
            </if> 
            <if test="oType != null" >
                #{oType,jdbcType=TINYINT},
            </if> 
            <if test="bId != null" >
                #{bId,jdbcType=INTEGER},
            </if> 
            <if test="reason != null" >
                #{reason,jdbcType=VARCHAR},
            </if> 
            <if test="psCode != null" >
                #{psCode,jdbcType=VARCHAR},
            </if> 
            <if test="oidBillno != null" >
                #{oidBillno,jdbcType=VARCHAR},
            </if> 
            <if test="payTime != null" >
                #{payTime,jdbcType=TIMESTAMP},
            </if> 
            <if test="tradeNo != null" >
                #{tradeNo,jdbcType=VARCHAR},
            </if> 
            <if test="distributors != null" >
                #{distributors,jdbcType=INTEGER},
            </if> 
            <if test="supplier != null" >
                #{supplier,jdbcType=VARCHAR},
            </if> 
            <if test="supplierSettle != null" >
                #{supplierSettle,jdbcType=BIT},
            </if> 
            <if test="zipcode != null" >
                #{zipcode,jdbcType=VARCHAR},
            </if> 
            <if test="supplierProfit != null" >
                #{supplierProfit,jdbcType=DECIMAL},
            </if> 
            <if test="finishTime != null" >
                #{finishTime,jdbcType=TIMESTAMP},
            </if> 
            <if test="payState != null" >
                #{payState,jdbcType=TINYINT},
            </if> 
            <if test="orderType != null" >
                #{orderType,jdbcType=TINYINT},
            </if> 
            <if test="isDel != null" >
                #{isDel,jdbcType=BIT},
            </if> 
            <if test="shareUser != null" >
                #{shareUser,jdbcType=VARCHAR},
            </if> 
            <if test="shareAdded != null" >
                #{shareAdded,jdbcType=BIT},
            </if> 
            <if test="bigpen != null" >
                #{bigpen,jdbcType=VARCHAR},
            </if> 
            <if test="barcode != null" >
                #{barcode,jdbcType=VARCHAR},
            </if> 
            <if test="idcard != null" >
                #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="isDelM != null" >
                #{is_Del_m,jdbcType=BIT},
            </if>
            <if test="fhfs != null" >
                #{fhfs,jdbcType=TINYINT},
            </if>
            <if test="isBatch != null" >
                #{isBatch,jdbcType=TINYINT},
            </if> 
            <if test="source != null" >
                #{source,jdbcType=VARCHAR},
            </if>
             <if test="taxPrice != null" >
                #{taxPrice,jdbcType=DECIMAL},
            </if>
            <if test="arrears != null" >
                #{arrears,jdbcType=INTEGER},
            </if>
            <if test="refundState != null" >
                #{refund_state,jdbcType=DECIMAL},
            </if>
            <if test="refundAmount != null" >
                #{refund_amount,jdbcType=DECIMAL},
            </if>
            <if test="orderOldno != null" > 
                #{orderOldno,jdbcType=VARCHAR}, 
            </if> 
            <if test="discountPrice != null" > 
                #{discountPrice,jdbcType=DECIMAL},
            </if>
            <if test="returnUrl != null" > 
                #{returnUrl,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <update id="updateCoolOrder" parameterType="com.isell.service.order.vo.CoolOrder" >
        UPDATE cool_order
        <set>
            <if test="locationP != null" >
                location_p = #{locationP,jdbcType=VARCHAR},
            </if>
            <if test="locationC != null" >
                location_c = #{locationC,jdbcType=VARCHAR},
            </if>
            <if test="locationA != null" >
                location_a = #{locationA,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null" >
                linkman = #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="tel != null" >
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="psfs != null" >
                psfs = #{psfs,jdbcType=VARCHAR},
            </if>
            <if test="psPrice != null" >
                ps_price = #{psPrice,jdbcType=DECIMAL},
            </if>
            <if test="zffs != null" >
                zffs = #{zffs,jdbcType=INTEGER},
            </if>
            <if test="comments != null" >
                comments = #{comments,jdbcType=VARCHAR},
            </if>
            <if test="total != null" >
                total = #{total,jdbcType=DECIMAL},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderNo != null" >
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="mId != null" >
                m_id = #{mId,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null" >
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="score != null" >
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="oType != null" >
                o_type = #{oType,jdbcType=TINYINT},
            </if>
            <if test="bId != null" >
                b_id = #{bId,jdbcType=INTEGER},
            </if>
            <if test="reason != null" >
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="psCode != null" >
                ps_code = #{psCode,jdbcType=VARCHAR},
            </if>
            <if test="oidBillno != null" >
                oid_billno = #{oidBillno,jdbcType=VARCHAR},
            </if>
            <if test="payTime != null" >
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tradeNo != null" >
                trade_no = #{tradeNo,jdbcType=VARCHAR},
            </if>
            <if test="distributors != null" >
                distributors = #{distributors,jdbcType=INTEGER},
            </if>
            <if test="supplier != null" >
                supplier = #{supplier,jdbcType=VARCHAR},
            </if>
            <if test="supplierSettle != null" >
                supplier_settle = #{supplierSettle,jdbcType=BIT},
            </if>
            <if test="zipcode != null" >
                zipcode = #{zipcode,jdbcType=VARCHAR},
            </if>
            <if test="supplierProfit != null" >
                supplier_profit = #{supplierProfit,jdbcType=DECIMAL},
            </if>
            <if test="finishTime != null" >
                finish_time = #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payState != null" >
                pay_state = #{payState,jdbcType=TINYINT},
            </if>
            <if test="orderType != null" >
                order_type = #{orderType,jdbcType=TINYINT},
            </if>
            <if test="isDel != null" >
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="shareUser != null" >
                share_user = #{shareUser,jdbcType=VARCHAR},
            </if>
            <if test="shareAdded != null" >
                share_added = #{shareAdded,jdbcType=BIT},
            </if>
            <if test="bigpen != null" >
                bigpen = #{bigpen,jdbcType=VARCHAR},
            </if>
            <if test="idcard != null" >
                idcard = #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="isDelM != null" >
                is_Del_m = #{isDelM,jdbcType=BIT},
            </if>
            <if test="fhfs != null" >
                fhfs = #{fhfs,jdbcType=TINYINT},
            </if>
            <if test="isBatch != null" >
                is_batch = #{isBatch,jdbcType=TINYINT},
            </if>
            <if test="source != null" >
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="taxPrice != null" >
                tax_price = #{taxPrice,jdbcType=DECIMAL},
            </if>
            <if test="barcode != null" >
                barcode = #{barcode,jdbcType=VARCHAR},
            </if>
            <if test="arrears != null" >
                arrears = #{arrears,jdbcType=INTEGER},
            </if>
            <if test="refundState != null" >
                refund_state = #{refundState,jdbcType=DECIMAL},
            </if>
            <if test="refundAmount != null" >
                refund_amount = #{refundAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderOldno != null" > 
                 order_oldno = #{orderOldno,jdbcType=VARCHAR}, 
            </if>
            <if test="discountPrice != null" > 
               discount_price =  #{discountPrice,jdbcType=DECIMAL},
            </if>
        </set>
        WHERE 
        	<if test="id != null" >
            	id = #{id,jdbcType=INTEGER}
            </if>
            <if test="id == null and orderNo != null" >
                order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
    </update>
        <update id="updateOrderPartByOrderNo" parameterType="com.isell.service.order.vo.CoolOrder" >
        UPDATE cool_order
        <set>
            <if test="locationP != null" >
                location_p = #{locationP,jdbcType=VARCHAR},
            </if>
            <if test="locationC != null" >
                location_c = #{locationC,jdbcType=VARCHAR},
            </if>
            <if test="locationA != null" >
                location_a = #{locationA,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null" >
                linkman = #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
             <if test="zipcode != null" >
                zipcode = #{zipcode,jdbcType=VARCHAR},
             </if>
             <if test="idcard != null" >
                idcard = #{idcard,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE 
        	supplier = #{supplier}
            <if test="orderNo !='' and orderNo != null" >
              and  order_oldno = #{orderNo,jdbcType=VARCHAR}
            </if>
    </update>
    <select id="getOrderExternalByOrderOldNo" parameterType="java.lang.String" resultMap="GetOrderExternal">
   select co.id,co.location_p,co.location_c,co.location_a,co.address,co.linkman,co.mobile,
    	co.psfs,co.ps_price,co.zffs,co.total,co.state,co.order_oldno,co.ps_code,co.pay_time,co.trade_no,
    	co.zipcode,co.finish_time,co.pay_state,co.bigpen,co.idcard,co.tax_price,co.fhfs,co.refund_state,
    	co.o_type,coi.name,coi.logo,coi.gg,coi.count,coi.price
    	from cool_order co join cool_order_item coi 
			on co.order_no = coi.order_no and co.order_oldno = #{orderNo}
			 and supplier=#{shopId}
    </select>
    <select id="getWayBill" resultMap="CoolOrderWayBill">
    	select order_oldno,ps_code,psfs,
			<!-- CASE WHEN  fhfs=1 THEN '圆通'
			WHEN fhfs=10 THEN '宁波艾购保税仓'
			WHEN fhfs=20 THEN '郑州保税仓'
			WHEN fhfs=11 THEN '宁波优贝'
			WHEN fhfs=30 THEN '杭州保税仓'
			 else fhfs end as fhfs, -->
			reason,
			DATE_FORMAT(co.createtime,'%Y%m%d') as createtime,
			DATE_FORMAT(co.updatetime,'%Y%m%d') as sendtime,
			DATE_FORMAT(co.updatetime,'%Y-%m-%d %H:%m:%s') as time
			from cool_order co 
   		where 1=1
    	<if test="order.orderOldno!=null"> 
    		and co.order_oldno in
    	<foreach collection="orderOldNos" index="index" item="orderOldno" open="(" separator="," close=")">  
            #{orderOldno}
    	</foreach>  
    	</if>
   		 and co.supplier = #{order.supplier}
   		<choose>
   			<when test="order.timeType==1">
   				<if test="order.beginTime != null"> 
   				and ps_code is not null
   				and createtime <![CDATA[>=]]> #{order.beginTime}</if>
   				<if test="order.endTime != null">and createtime <![CDATA[<=]]> #{order.endTime}</if>
   			</when>
   			<otherwise>
   				and ps_code is not null
   				<if test="order.beginTime != null"> and updatetime <![CDATA[>=]]> #{order.beginTime}</if>
   					<if test="order.endTime != null"> and updatetime <![CDATA[<=]]> #{order.endTime}</if>
   			</otherwise>
   		</choose>
   	</select>
	 <update id="updateStateByOlderOldNo" parameterType="com.isell.service.order.vo.CoolOrder" >
	 		UPDATE cool_order set state=#{state} where order_oldno=#{orderOldno} and supplier=#{supplier}
	 </update> 	
</mapper>