<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isell.service.order.dao.CoolStockDepotMapper">
	<resultMap id="BaseResultMap" type="com.isell.service.order.vo.CoolStockDepot">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="time_end" jdbcType="VARCHAR" property="timeEnd" />
		<result column="time_length" jdbcType="INTEGER" property="timeLength" />
		<result column="company_id" jdbcType="VARCHAR" property="companyId" />
		<result column="province" jdbcType="VARCHAR" property="province" />
	</resultMap>
	<select id="getCoolStockDepotById" resultMap="BaseResultMap">
		SELECT
		*
		FROM
		cool_stock_depot
		WHERE
		id = #{id,jdbcType=INTEGER}
	</select>


	<select id="getCoolStockDepotProvinceById" resultMap="BaseResultMap">
		SELECT d.*
		from cool_stock_depot d INNER JOIN cool_stock s on d.id =
		s.depot_id
		where s.p_id = (SELECT id from cool_stock_product where
		bind_pid =
		#{id,jdbcType=INTEGER})
	</select>

	<select id="findAllCoolStockDepot" resultMap="BaseResultMap">
		SELECT * FROM
		cool_stock_depot
	</select>

	<delete id="deleteCoolStockDepot">
		DELETE
		FROM
		cool_stock_depot
		WHERE
		id =
		#{id,jdbcType=INTEGER}
	</delete>

	<insert id="saveCoolStockDepot" parameterType="com.isell.service.order.vo.CoolStockDepot">
		INSERT INTO cool_stock_depot
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="timeEnd != null">
				time_end,
			</if>
			<if test="timeLength != null">
				time_length,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="province != null">
				province,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="timeEnd != null">
				#{timeEnd,jdbcType=VARCHAR},
			</if>
			<if test="timeLength != null">
				#{timeLength,jdbcType=INTEGER},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateCoolStockDepot" parameterType="com.isell.service.order.vo.CoolStockDepot">
		UPDATE cool_stock_depot
		<set>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="timeEnd != null">
				time_end = #{timeEnd,jdbcType=VARCHAR},
			</if>
			<if test="timeLength != null">
				time_length = #{timeLength,jdbcType=INTEGER},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE
		id = #{id,jdbcType=INTEGER}
	</update>
</mapper>