<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- 声明线程池，每一个对象将获取同样的运行机会，如果任务执行时间较长，线程池大小可设成任务数，即有几个任务就起几个线程 -->
	<task:scheduler id="taskScheduler" pool-size="1" />

	<!-- 引用线程池 -->
	<task:scheduled-tasks scheduler="taskScheduler">
		<task:scheduled ref="coolshopRankingTask" method="execute" cron="0 0 1 * * ?" />
	</task:scheduled-tasks>
	
	<import resource="ApplicationContext-task-db.xml"/>
</beans>