<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<description>数据库相关配置</description>
	
	
	<!-- ↓====================↓数据中心库连接配置↓==========================↓ -->
	<!--定义数据源 数据源的ID在代码中被引用，因此不能随意修改名字-->
	<bean id="dataSource_dc" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${dc.jdbc.driver}" />
		<property name="url" value="${dc.jdbc.url}" />
		<property name="username" value="${dc.jdbc.username}" />
		<property name="password" value="${dc.jdbc.password}" />
		<property name="initialSize" value="${dc.jdbc.initialSize}" />
		<property name="maxActive" value="${dc.jdbc.maxActive}" />
		<property name="maxIdle" value="${dc.jdbc.maxIdle}" />
		<property name="minIdle" value="${dc.jdbc.minIdle}" />
	</bean>
	
	<tx:annotation-driven  transaction-manager="transactionManager_dc"/>	
	
	<!-- 定义事物管理 -->
	<bean id="transactionManager_dc" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_dc" />
	</bean>

	<!-- 配置mybatis的 SqlSessionFactoryBean-->
	<bean id="sqlSessionFactory_dc" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_dc" />
		<!-- 设置mybatis的环境配置文件 -->
		<property name="configLocation" value="classpath:mybatisConfig.xml" />
		<property name="typeAliasesPackage" value="com.zebone.dnode"/>
	</bean>

	<!-- 指定mybatis映射器的位置，spring自动扫描并将映射器生成代理放到spring上下文中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zebone.dnode.engine.register.dao"/>
		<property name="annotationClass" value="com.zebone.btp.core.mybatis.DcMapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_dc"/>
	</bean>
	

	<!-- ↑==================↑=============================↑================↑ -->
	
    
	<bean id="logServiceClient" class="com.zebone.dip.log.service.LogServiceClient">
		<property name="sysLogWsdl" value="${sysLogWsdl}"/>
	</bean>
	
</beans>