<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isell.service.product.dao.CoolProductGroupMapper">
    <resultMap id="BaseResultMap" type="com.isell.service.product.vo.CoolProductGroup">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="p_id" jdbcType="INTEGER" property="pId"/>
        <result column="g_id" jdbcType="INTEGER" property="gId"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
    </resultMap>
    <select id="getCoolProductGroupById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_product_group
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="findCoolProductGroupByGroupId" resultMap="BaseResultMap">
          select * from cool_product_group where group_id = #{groupId,jdbcType=INTEGER}
    </select>
    
    <delete id="deleteCoolProductGroup">
        DELETE
        FROM
             cool_product_group
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="saveCoolProductGroup" parameterType="com.isell.service.product.vo.CoolProductGroup" >
        INSERT INTO cool_product_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="pId != null" >
                p_id,
            </if>
            <if test="gId != null" >
                g_id,
            </if>
            <if test="groupId != null" >
                group_id,
            </if>
            <if test="count != null" >
                count,
            </if>
            <if test="price != null" >
                price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if> 
            <if test="pId != null" >
                #{pId,jdbcType=INTEGER},
            </if> 
            <if test="gId != null" >
                #{gId,jdbcType=INTEGER},
            </if> 
            <if test="groupId != null" >
                #{groupId,jdbcType=INTEGER},
            </if> 
            <if test="count != null" >
                #{count,jdbcType=INTEGER},
            </if> 
            <if test="price != null" >
                #{price,jdbcType=DECIMAL},
            </if> 
        </trim>
    </insert>

    <update id="updateCoolProductGroup" parameterType="com.isell.service.product.vo.CoolProductGroup" >
        UPDATE cool_product_group
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="pId != null" >
                p_id = #{pId,jdbcType=INTEGER},
            </if>
            <if test="gId != null" >
                g_id = #{gId,jdbcType=INTEGER},
            </if>
            <if test="groupId != null" >
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="count != null" >
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="price != null" >
                price = #{price,jdbcType=DECIMAL},
            </if>
        </set>
        WHERE 
            id = #{id,jdbcType=INTEGER}
    </update>
</mapper>