<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isell.service.product.dao.CoolProductMapper">
    <resultMap id="BaseResultMap" type="com.isell.service.product.vo.CoolProduct">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="tuijian" jdbcType="BIT" property="tuijian"/>
        <result column="shouye" jdbcType="BIT" property="shouye"/>
        <result column="bp" jdbcType="VARCHAR" property="bp"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="orderby" jdbcType="INTEGER" property="orderby"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="gt" jdbcType="CHAR" property="gt"/>
        <result column="click" jdbcType="INTEGER" property="click"/>
        <result column="b_id" jdbcType="INTEGER" property="bId"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="shelves" jdbcType="BIT" property="shelves"/>
        <result column="kuajing" jdbcType="BIT" property="kuajing"/>
        <result column="brand_id" jdbcType="INTEGER" property="brandId"/>
        <result column="gg_max_code" jdbcType="INTEGER" property="ggMaxCode"/>
        <result column="country_code" jdbcType="VARCHAR" property="countryCode"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="fav_price" jdbcType="DECIMAL" property="favPrice"/>
        <result column="added" jdbcType="BIT" property="added"/>
        <result column="wap_click" jdbcType="INTEGER" property="wapClick"/>
        <result column="sales" jdbcType="INTEGER" property="sales"/>
        <result column="qr_code" jdbcType="VARCHAR" property="qrCode"/>
        <result column="divide" jdbcType="DECIMAL" property="divide"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="tax" jdbcType="DECIMAL" property="tax"/>
    </resultMap>
    <!-- 商品返回类 -->
    <resultMap id="CoonShopProductInfoMap" type="com.isell.service.shop.po.CoonShopProductInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="gg" jdbcType="VARCHAR" property="gg"/>
        <result column="jg" jdbcType="DECIMAL" property="jg"/>
        <result column="cxjg" jdbcType="DECIMAL" property="cxjg"/>
        <result column="xsjg" jdbcType="DECIMAL" property="xsjg"/>
        <result column="sales" jdbcType="INTEGER" property="sales"/>
        <result column="salesMonth" jdbcType="INTEGER" property="salesMonth"/>
        <result column="drp_price" jdbcType="DECIMAL" property="drpPrice"/>
        <result column="divide" jdbcType="DECIMAL" property="divide"/>   
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <!-- 商品对外接口 -->
     <resultMap id="CoonShopProductExternal" type="com.isell.service.product.po.CoolProductExternal">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="allstock" jdbcType="INTEGER" property="allstock"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="fav_price" jdbcType="DECIMAL" property="favprice"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="tax" jdbcType="DECIMAL" property="tax"/>
        <result column="catelogId" jdbcType="VARCHAR" property="catelogId"/>
   		<collection property="items" column="id" ofType="com.isell.service.product.po.CoolProductExternalGg">
   			<result column="gid" jdbcType="INTEGER" property="gid"/>
   		 	<result column="gg" jdbcType="VARCHAR" property="gg"/>
	        <result column="jg" jdbcType="DECIMAL" property="jg"/>
	        <result column="cxjg" jdbcType="DECIMAL" property="cxjg"/>
	        <result column="stock" jdbcType="REAL" property="stock"/>
	        <result column="weight" jdbcType="DOUBLE" property="weight"/>
	        <result column="unit" jdbcType="VARCHAR" property="unit"/>
	        <result column="spec" jdbcType="VARCHAR" property="spec"/>
   		</collection>
   		<collection property="imgs" column="id" ofType="com.isell.service.product.po.CoolProductExternalImg">
   			<result column="url" jdbcType="VARCHAR" property="url"/>
   		</collection>
    </resultMap>
 
    <select id="getCoolProductById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_product
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </select>
    
    <!-- 查询热门搜索商品列表 -->
    <select id="getHotTrendProductList" resultMap="CoonShopProductInfoMap">
          select g.id,g.goods_id,p.name,p.name_en,p.type,p.logo,g.gg,g.cxjg,g.xsjg,g.sales,g.drp_price,p.divide,p.createtime
          from
          (select i.g_id,i.gid
          from cool_order o
          inner join cool_order_item i on o.order_no = i.order_no
          where (o.state = 2 or o.state = 3 or o.state = 4 or o.state = 5 or o.state = 11)
          group by  i.g_id,i.gid
          ) oi
          left join cool_product p on p.id = oi.g_id
          left join cool_product_gg g on g.id = oi.gid
          order by g.sales desc  limit 5
    </select>
    
    <!-- 根据条件分页查询商品信息(不包含规格) -->
    <select id="getCoolProductPageListNoGg" resultMap="BaseResultMap" parameterType="com.isell.service.shop.po.CoonShopProductParam">
    	select * 
    	from 
    		cool_product p
    	<if test="stock != null and stock !=''">
          	inner join 
          	(select distinct goods_id from cool_product_gg where 1=1 
	          	<if test="stock =='1'.toString()" >
	                 and stock>0 
	          </if>  ) g on g.goods_id = p.id
         </if>
    	where p.shelves = 0
          <if test="type != null">
          	and p.type = #{type,jdbcType=INTEGER}
          </if>
          <if test="name != null and name != ''">
          	and (p.name  like #{name,jdbcType=VARCHAR} or p.name_en  like #{name,jdbcType=VARCHAR})
          </if>
          <if test="pId != null and pId != ''">
          	and p.id = #{pId,jdbcType=VARCHAR}
          </if>
          <!-- 该字符串由两位组成 第一位：1:佣金  2：售价 3:销量 默认按佣金；第二位：1：升序  2：降序 默认降序 -->
          <if test="orderBy == '11'.toString()">
          	order by ifnull(p.fav_price,p.price) * p.divide asc
          </if>
          <if test="orderBy == '12'.toString()">
          	order by ifnull(p.fav_price,p.price) * p.divide desc
          </if>
          <if test="orderBy == '21'.toString()">
          	order by ifnull(p.fav_price,p.price) asc
          </if>
          <if test="orderBy == '22'.toString()">
          	order by ifnull(p.fav_price,p.price) desc
          </if>
          <if test="orderBy == '31'.toString()">
            order by p.sales asc
          </if>
          <if test="orderBy == '32'.toString()">
            order by p.sales desc
          </if>
    </select>
    
    <select id="getCoolProductPageList" resultMap="BaseResultMap" parameterType="com.isell.service.product.po.CoolProductSelect">
    	select * from cool_product
    	<include refid="where_sql"></include>
    	order by createtime desc
    </select>
    
    <select id="getCoolProductPageListCount" parameterType="com.isell.service.product.po.CoolProductSelect" resultType="int">
    	select count(*) from cool_product
    	<include refid="where_sql"></include>
    </select>
    
     <sql id="where_sql">
	     where 1 = 1
	     <if test="shelves != null">
	     	and shelves = #{shelves}
	     </if>
	     <if test="startUpdatetime != null">
	     	and updatetime <![CDATA[>=]]> #{startUpdatetime}
	     </if>
	     <if test="endUpdatetime != null">
	     	and updatetime <![CDATA[<=]]> #{endUpdatetime}
	     </if>
     </sql>
    
    <select id="findAllCoolProduct" resultMap="BaseResultMap">
          SELECT * FROM cool_product 
    </select>
    
    <delete id="deleteCoolProduct">
        DELETE
        FROM
             cool_product
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="saveCoolProduct" parameterType="com.isell.service.product.vo.CoolProduct" >
        INSERT INTO cool_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="nameEn != null" >
                name_en,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="tuijian != null" >
                tuijian,
            </if>
            <if test="shouye != null" >
                shouye,
            </if>
            <if test="bp != null" >
                bp,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="orderby != null" >
                orderby,
            </if>
            <if test="logo != null" >
                logo,
            </if>
            <if test="stock != null" >
                stock,
            </if>
            <if test="gt != null" >
                gt,
            </if>
            <if test="click != null" >
                click,
            </if>
            <if test="bId != null" >
                b_id,
            </if>
            <if test="intro != null" >
                intro,
            </if>
            <if test="shelves != null" >
                shelves,
            </if>
            <if test="kuajing != null" >
                kuajing,
            </if>
            <if test="brandId != null" >
                brand_id,
            </if>
            <if test="ggMaxCode != null" >
                gg_max_code,
            </if>
            <if test="countryCode != null" >
                country_code,
            </if>
            <if test="code != null" >
                code,
            </if>
            <if test="price != null" >
                price,
            </if>
            <if test="favPrice != null" >
                fav_price,
            </if>
            <if test="added != null" >
                added,
            </if>
            <if test="wapClick != null" >
                wap_click,
            </if>
            <if test="sales != null" >
                sales,
            </if>
            <if test="qrCode != null" >
                qr_code,
            </if>
            <if test="divide != null" >
                divide,
            </if>
            <if test="tag != null" >
                tag,
            </if>
            <if test="updatetime != null" >
                updatetime,
            </if>
            <if test="tax != null" >
                tax,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if> 
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if> 
            <if test="nameEn != null" >
                #{nameEn,jdbcType=VARCHAR},
            </if> 
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if> 
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if> 
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if> 
            <if test="tuijian != null" >
                #{tuijian,jdbcType=BIT},
            </if> 
            <if test="shouye != null" >
                #{shouye,jdbcType=BIT},
            </if> 
            <if test="bp != null" >
                #{bp,jdbcType=VARCHAR},
            </if> 
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if> 
            <if test="orderby != null" >
                #{orderby,jdbcType=INTEGER},
            </if> 
            <if test="logo != null" >
                #{logo,jdbcType=VARCHAR},
            </if> 
            <if test="stock != null" >
                #{stock,jdbcType=INTEGER},
            </if> 
            <if test="gt != null" >
                #{gt,jdbcType=CHAR},
            </if> 
            <if test="click != null" >
                #{click,jdbcType=INTEGER},
            </if> 
            <if test="bId != null" >
                #{bId,jdbcType=INTEGER},
            </if> 
            <if test="intro != null" >
                #{intro,jdbcType=VARCHAR},
            </if> 
            <if test="shelves != null" >
                #{shelves,jdbcType=BIT},
            </if> 
            <if test="kuajing != null" >
                #{kuajing,jdbcType=BIT},
            </if> 
            <if test="brandId != null" >
                #{brandId,jdbcType=INTEGER},
            </if> 
            <if test="ggMaxCode != null" >
                #{ggMaxCode,jdbcType=INTEGER},
            </if> 
            <if test="countryCode != null" >
                #{countryCode,jdbcType=VARCHAR},
            </if> 
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if> 
            <if test="price != null" >
                #{price,jdbcType=DECIMAL},
            </if> 
            <if test="favPrice != null" >
                #{favPrice,jdbcType=DECIMAL},
            </if> 
            <if test="added != null" >
                #{added,jdbcType=BIT},
            </if> 
            <if test="wapClick != null" >
                #{wapClick,jdbcType=INTEGER},
            </if> 
            <if test="sales != null" >
                #{sales,jdbcType=INTEGER},
            </if> 
            <if test="qrCode != null" >
                #{qrCode,jdbcType=VARCHAR},
            </if> 
            <if test="divide != null" >
                #{divide,jdbcType=DECIMAL},
            </if> 
            <if test="tag != null" >
                #{tag,jdbcType=VARCHAR},
            </if> 
            <if test="updatetime != null" >
                #{updatetime,jdbcType=TIMESTAMP},
            </if> 
            <if test="tax != null" >
                #{tax,jdbcType=DECIMAL},
            </if> 
        </trim>
    </insert>

    <update id="updateCoolProduct" parameterType="com.isell.service.product.vo.CoolProduct" >
        UPDATE cool_product
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="nameEn != null" >
                name_en = #{nameEn,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="tuijian != null" >
                tuijian = #{tuijian,jdbcType=BIT},
            </if>
            <if test="shouye != null" >
                shouye = #{shouye,jdbcType=BIT},
            </if>
            <if test="bp != null" >
                bp = #{bp,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderby != null" >
                orderby = #{orderby,jdbcType=INTEGER},
            </if>
            <if test="logo != null" >
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="stock != null" >
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="gt != null" >
                gt = #{gt,jdbcType=CHAR},
            </if>
            <if test="click != null" >
                click = #{click,jdbcType=INTEGER},
            </if>
            <if test="bId != null" >
                b_id = #{bId,jdbcType=INTEGER},
            </if>
            <if test="intro != null" >
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="shelves != null" >
                shelves = #{shelves,jdbcType=BIT},
            </if>
            <if test="kuajing != null" >
                kuajing = #{kuajing,jdbcType=BIT},
            </if>
            <if test="brandId != null" >
                brand_id = #{brandId,jdbcType=INTEGER},
            </if>
            <if test="ggMaxCode != null" >
                gg_max_code = #{ggMaxCode,jdbcType=INTEGER},
            </if>
            <if test="countryCode != null" >
                country_code = #{countryCode,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="favPrice != null" >
                fav_price = #{favPrice,jdbcType=DECIMAL},
            </if>
            <if test="added != null" >
                added = #{added,jdbcType=BIT},
            </if>
            <if test="wapClick != null" >
                wap_click = #{wapClick,jdbcType=INTEGER},
            </if>
            <if test="sales != null" >
                sales = #{sales,jdbcType=INTEGER},
            </if>
            <if test="qrCode != null" >
                qr_code = #{qrCode,jdbcType=VARCHAR},
            </if>
            <if test="divide != null" >
                divide = #{divide,jdbcType=DECIMAL},
            </if>
            <if test="tag != null" >
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null" >
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if> 
            <if test="tax != null" >
                tax = #{updatetime,DECIMAL=TIMESTAMP},
            </if> 
        </set>
        WHERE 
            id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="queryProductAllNum" resultType="java.lang.Integer">
    	select count(1) 
    	from cool_product cp
    	where 1=1
				<if test="id!=null and id!=''">
					and cp.id = #{id}
				</if>
				<if test="name!=null and name!=''">
					and cp.name LIKE CONCAT(CONCAT('%', #{name}), '%')
				</if>
		 
    </select>
    <resultMap type="com.isell.service.order.vo.Catelog" id="resultqueryCateloglistByPid">
    	<result property="id" column="id"/>
    	<result property="name" column="name"/>
    	<result property="parentid" column="parent_id"/> 
    </resultMap>
    <select id="queryCateloglistByPid" resultMap="resultqueryCateloglistByPid">
    	select id,name,parent_id 
    	from cool_product_category a
    	where 1=1 
    	<if test="catelog.parentid!=null"> 
    		and a.parent_id in
    		<foreach collection="patents" index="index" item="parent_id" open="(" separator="," close=")"> 
    			#{parent_id}
    		</foreach>
    	</if>
    	
    </select>
    
    <select id="queryGoodsinfoByids" resultMap="CoonShopProductExternal" parameterType="com.isell.service.product.po.CoolProductExternal">
    	SELECT y.*,
    	cpb.name AS brand,cdg.name AS country,
    	cpg.gg,cpg.jg,cpg.cxjg,cpg.stock,cpg.weight,cpg.unit,cpg.spec,CONCAT(#{productExternal.image_domain},cpi.img)  AS url,x.catelogId,cpg.id AS gid
    	FROM 
    	(
    	SELECT cp.id,cp.name,cp.name_en,cp.type,cp.remark,cp.content,cp.code,
		cp.price,cp.fav_price,CONCAT(#{productExternal.image_domain},cp.logo)AS logo,cp.tax,cp.brand_id,cp.country_code,
		(select sum(stock) from cool_product_gg m where cp.id=m.goods_id )as allstock
    	FROM cool_product cp    
    	where 1=1
				 <if test="productExternal.queryids!=null"> 
				 		and cp.id in
				 		<foreach collection="goodis" index="index" item="goodid" open="(" separator="," close=")">
				 			#{goodid}
				 		</foreach>
				 </if>
	)Y		 
			JOIN cool_product_gg cpg ON y.id=cpg.goods_id
			JOIN cool_product_img cpi ON cpi.goods_id = y.id
			LEFT JOIN cool_product_brand cpb ON cpb.id = y.brand_id
			LEFT JOIN cool_dict_gbdm  cdg ON cdg.id = y.country_code
			LEFT JOIN cool_product_category X ON x.id=y.type
			
			
    </select>
    
    <select id="getProductInfo" resultMap="CoonShopProductExternal" parameterType="com.isell.service.product.po.CoolProductExternal">    
   SELECT y.*,
    	cpb.name AS brand,cdg.name AS country,
    	cpg.gg,cpg.jg,cpg.cxjg,cpg.stock,cpg.weight,cpg.unit,cpg.spec,CONCAT(#{image_domain},cpi.img)  AS url,x.catelogId,cpg.id AS gid
    	FROM 
    	(
    	SELECT cp.id,cp.name,cp.name_en,cp.type,cp.remark,cp.content,cp.code,
		cp.price,cp.fav_price,CONCAT(#{image_domain},cp.logo)AS logo,cp.tax,cp.brand_id,cp.country_code,
		(select sum(stock) from cool_product_gg m where cp.id=m.goods_id )as allstock
    	FROM cool_product cp    
    	where 1=1
				<if test="id!=null and id!=''">
					and cp.id = #{id}
				</if>
				<if test="name!=null and name!=''">
					and cp.name LIKE CONCAT(CONCAT('%', #{name}), '%')
				</if>
			 
			<if test="limit>0">
				LIMIT #{start},#{limit}
			</if>
	)Y		 
			JOIN cool_product_gg cpg ON y.id=cpg.goods_id
			JOIN cool_product_img cpi ON cpi.goods_id = y.id
			LEFT JOIN cool_product_brand cpb ON cpb.id = y.brand_id
			LEFT JOIN cool_dict_gbdm  cdg ON cdg.id = y.country_code
			LEFT JOIN cool_product_category X ON x.id=y.type
    	<!-- select cp.id,cp.name,cp.name_en,cp.type,cp.remark,cp.content,cp.code,
    	cpb.name as brand,cdg.name as country,cp.price,cp.fav_price,CONCAT(#{image_domain},cp.logo)as logo,cp.tax,
    	cpg.gg,cpg.jg,cpg.cxjg,cpg.stock,cpg.weight,cpg.unit,cpg.spec,CONCAT(#{image_domain},cpi.img)  as url,x.catelogId,cpg.id as gid
    	from cool_product cp 
			join cool_product_gg cpg on cp.id=cpg.goods_id
			join cool_product_img cpi on cpi.goods_id = cp.id
			left join cool_product_brand cpb on cpb.id = cp.brand_id
			left join cool_dict_gbdm  cdg on cdg.id = cp.country_code
			left join cool_product_category x on x.id=cp.type -->
			
			
			
    </select>
    <resultMap type="com.isell.service.product.po.CoolProductAliUnit" id="resultQueryGoodsAliUnit">
    	<result property="pid" column="pid"/>
    	<result property="unitcode" column="unitcode"/>
    	<result property="unitvalue" column="unitvalue"/>
    	<result property="unittype" column="unittype"/>
    </resultMap>
    <select id="queryGoodsAliUnit" resultMap="resultQueryGoodsAliUnit">
    	select pid,unitcode,unitvalue,unittype
    	from cool_product_ali_unit where pid=#{id} and unitcode is not null 
    </select>
    
</mapper>