<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.dnode.engine.empi.dao.ResidentInfoMapper" >
    <resultMap id="BaseResultMap" type="com.zebone.dnode.engine.empi.vo.ResidentInfo" >
        <id column="EMPI" property="empi" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="SEX" property="sex" jdbcType="VARCHAR" />
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
        <result column="AGE" property="age" jdbcType="DECIMAL" />
        <result column="PHOTO" property="photo" jdbcType="BLOB" />
        <result column="STAR_LEVEL" property="starLevel" jdbcType="VARCHAR"/>
        <result column="NATIONALITY" property="nationality" jdbcType="VARCHAR" />
        <result column="NATION" property="nation" jdbcType="VARCHAR" />
        <result column="MARITAL_STATUS" property="maritalStatus" jdbcType="VARCHAR" />
        <result column="MOBILE_NUMBER" property="mobileNumber" jdbcType="VARCHAR" />
        <result column="TEL_NUMBER" property="telNumber" jdbcType="VARCHAR" />
        <result column="PROFESSION" property="profession" jdbcType="VARCHAR" />
        <result column="WORK_UNIT" property="workUnit" jdbcType="VARCHAR" />
        <result column="CONTACTS" property="contacts" jdbcType="VARCHAR" />
        <result column="CONTACTS_MOBILE" property="contactsMobile" jdbcType="VARCHAR" />
        <result column="PERMANENT_ADDRESS" property="permanentAddress" jdbcType="VARCHAR" />
        <result column="PERMANENT_CODE" property="permanentCode" jdbcType="VARCHAR" />
        <result column="PERMANENT_HOUSE_NO" property="permanentHouseNo" jdbcType="VARCHAR" />
        <result column="PERMANENT_ZIPCODE" property="permanentZipcode" jdbcType="VARCHAR" />
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
        <result column="ADDRESS_CODE" property="addressCode" jdbcType="VARCHAR" />
        <result column="ADDRESS_HOUSE_NO" property="addressHouseNo" jdbcType="VARCHAR" />
        <result column="ADDRESS_ZIPCODE" property="addressZipcode" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getPushInfo" resultMap="BaseResultMap">
        <![CDATA[
     SELECT * FROM (SELECT A.* FROM E_RESIDENT_INFO A, E_RESIDENT_INFO_LOG B WHERE A.EMPI = B.EMPI AND A.STAR_LEVEL = '1'
     AND B.IS_PUSH = '0' ORDER BY B.NAME, B.CREATE_TIME DESC ) WHERE ROWNUM <= 10
     ]]>
    </select>

    <update id="updatePushStatus" parameterType="java.lang.String">
        UPDATE E_RESIDENT_INFO_LOG SET IS_PUSH = '1'
        where EMPI = #{empiNo,jdbcType=VARCHAR}
    </update>

</mapper>