<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isell.ei.pay.yijifu.dao.CoolYjfRemitMapper">
    <resultMap id="BaseResultMap" type="com.isell.ei.pay.yijifu.bean.CoolYjfRemit">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="remittrance_batchno" jdbcType="VARCHAR" property="remittranceBatchno"/>
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="resultInfos" jdbcType="VARCHAR" property="resultinfos"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <select id="getCoolYjfRemitById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_yjf_remit
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="getCoolYjfRemitByBatchno" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             cool_yjf_remit
        WHERE            
            remittrance_batchno = #{remittranceBatchno}
    </select>
    
    <select id="findAllCoolYjfRemit" resultMap="BaseResultMap">
          SELECT * FROM cool_yjf_remit 
    </select>
    
    <delete id="deleteCoolYjfRemit">
        DELETE
        FROM
             cool_yjf_remit
        WHERE            
            id = #{id,jdbcType=INTEGER}
    </delete>
    
    <update id="updatePayAmountByBatchno">
        UPDATE cool_yjf_remit set pay_amount=(SELECT ifnull(sum(order_amount),0)
	        FROM cool_yjf_remit_order
	        WHERE remittrance_batchno = #{remittranceBatchno} and status='success')
        WHERE 
            remittrance_batchno = #{remittranceBatchno}
    </update>

    <insert id="saveCoolYjfRemit" parameterType="com.isell.ei.pay.yijifu.bean.CoolYjfRemit" >
        INSERT INTO cool_yjf_remit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="remittranceBatchno != null" >
                remittrance_batchno,
            </if>
            <if test="payAmount != null" >
                pay_amount,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="message != null" >
                message,
            </if>
            <if test="resultinfos != null" >
                resultInfos,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if> 
            <if test="remittranceBatchno != null" >
                #{remittranceBatchno,jdbcType=VARCHAR},
            </if> 
            <if test="payAmount != null" >
                #{payAmount,jdbcType=DECIMAL},
            </if> 
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if> 
            <if test="message != null" >
                #{message,jdbcType=VARCHAR},
            </if> 
            <if test="resultinfos != null" >
                #{resultinfos,jdbcType=VARCHAR},
            </if> 
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if> 
        </trim>
    </insert>

    <update id="updateCoolYjfRemit" parameterType="com.isell.ei.pay.yijifu.bean.CoolYjfRemit" >
        UPDATE cool_yjf_remit
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="remittranceBatchno != null" >
                remittrance_batchno = #{remittranceBatchno,jdbcType=VARCHAR},
            </if>
            <if test="payAmount != null" >
                pay_amount = #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="message != null" >
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="resultinfos != null" >
                resultInfos = #{resultinfos,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE 
            id = #{id,jdbcType=INTEGER}
    </update>
</mapper>