<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.dip.empi.dao.ResidentCardMapper">
    <resultMap id="BaseResultMap" type="com.zebone.dip.empi.vo.ResidentCard">
        <id column="ID_" property="id" jdbcType="VARCHAR"/>
        <result column="EMPI" property="empi" jdbcType="VARCHAR"/>
        <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR"/>
        <result column="CARD_TYPE" property="cardType" jdbcType="VARCHAR"/>
        <result column="CARD_SERIAL_NO" property="cardSerialNo" jdbcType="VARCHAR"/>
        <result column="CARD_ORG" property="cardOrg" jdbcType="VARCHAR"/>
        <result column="CARD_LEVEL" property="cardLevel" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="CARD_STATUS" property="cardStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID_, EMPI, CARD_NO, CARD_TYPE, CARD_SERIAL_NO, CARD_ORG, CARD_LEVEL, CREATE_DATE, CARD_STATUS
  </sql>

    <select id="getEmpiNoList" parameterType="com.zebone.dip.empi.vo.ResidentCard" resultType="string">
        SELECT DISTINCT EMPI FROM E_RESIDENT_CARD WHERE 1=1
        <if test="cardNo != null and cardNo != '' ">
            AND CARD_NO LIKE
            '%'||#{cardNo,jdbcType=VARCHAR}||'%' escape '/'
        </if>
        <if test="cardType != null and cardType != '' ">
            AND CARD_TYPE = #{cardType,jdbcType=VARCHAR}
        </if>
        <if test="cardOrg != null and cardOrg != '' ">
            AND CARD_ORG = #{cardOrg,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getCardList" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from E_RESIDENT_CARD where EMPI = #{empiNo,jdbcType=VARCHAR}
    </select>
    
    <select id="getCardByNoAndType" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM E_RESIDENT_CARD WHERE CARD_NO = #{cardNo,jdbcType=VARCHAR} AND CARD_TYPE = #{cardType,jdbcType=VARCHAR}
    </select>
    
    

</mapper>