<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.dip.etl.dao.NodeAndTransRuleMapper">
	<resultMap id="NodeAndTransRuleResultMap" type="com.zebone.dip.etl.vo.NodeAndTransRule">
		<id column="NODE_ID" property="nodeId" jdbcType="VARCHAR"/>
		<id column="TRANS_ID" property="transId" jdbcType="NUMERIC"/>		
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<insert id="insert" parameterType="com.zebone.dip.etl.vo.NodeAndTransRule">
		INSERT INTO P_NODE_TRANS_R 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="nodeId != null">
				NODE_ID,
			</if>
			<if test="transId != null">
				TRANS_ID,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="nodeId != null">
				#{nodeId,jdbcType=VARCHAR},
			</if>
			<if test="transId != null">
				#{transId,jdbcType=NUMERIC},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<delete id="delete">
		DELETE 
		FROM  P_NODE_TRANS_R 
		WHERE NODE_ID = #{nodeId,jdbcType=VARCHAR} 
		AND  TRANS_ID = #{transId,jdbcType=NUMERIC}
	</delete>

	<select id="getTransNameByNodeId" parameterType="string" resultType="string">
		SELECT
		    trans.name
		FROM
		    P_NODE_TRANS_R r
		JOIN
		    R_TRANSFORMATION trans
		ON
		    trans.ID_TRANSFORMATION = r.trans_id
		WHERE
		    r.NODE_ID = #{nodeId,jdbcType=VARCHAR}
	</select>
	
	<select id="getTansIdByName" parameterType="string" resultType="integer">
		SELECT
		    trans.ID_TRANSFORMATION
		FROM
		    R_TRANSFORMATION trans
		WHERE
		    trans.NAME = #{name,jdbcType=VARCHAR}
	</select>
	
	<!-- 找到未部署的转换 -->
	<select id="getTransForNotDeploy" resultType="string">
		SELECT
		    trans.name
		FROM
		    R_TRANSFORMATION trans
		LEFT JOIN
		    P_NODE_TRANS_R r
		ON
		    r.TRANS_ID = trans.ID_TRANSFORMATION
		WHERE
		    r.NODE_ID IS NULL
	</select>
	
</mapper>