<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.btp.app.authorize.dao.BtpModuleMhoMapper">
	<resultMap id="BtpModuleMhoResultMap" type="com.zebone.btp.app.authorize.vo.BtpModuleMho">
		<id column="MHO_ID" property="mhoId" jdbcType="VARCHAR"/>
		<id column="MODULE_ID" property="moduleId" jdbcType="VARCHAR"/>
		<result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<sql id="column_list">
		MHO_ID, MODULE_ID, CREATOR_ID, CREATE_TIME
	</sql>
	
	<!-- 根据医疗机构id查找医疗机构与模块关系对象的集合 -->
	<select id="getModuleByMhoId" parameterType="java.lang.String" resultMap="BtpModuleMhoResultMap">
		select 
		<include refid="column_list"/>
		from BTP_MODULE_MHO t 
		where t.MHO_ID = #{mhoId,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除某医疗机构所对应的功能模块关系 -->
	<delete id="deleteModuleMhoByOrganId" parameterType="java.lang.String">
		delete from BTP_MODULE_MHO
		where MHO_ID = #{mhoId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteModuleRoleByBtpModuleMho" parameterType="com.zebone.btp.app.authorize.vo.BtpModuleMho">
		delete btp_role_module_r t
		where t.module_id = #{moduleId,jdbcType=VARCHAR}
		and t.role_id in (select m.role_id from btp_role m where m.medical_organ_id = #{mhoId,jdbcType=VARCHAR})
	</delete>
	<!-- 批量插入机构与模块的关系对象 -->
	<insert id="insertModuleMhos">
		insert into BTP_MODULE_MHO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			MODULE_ID,
			MHO_ID,
			CREATOR_ID,
		</trim>
		<foreach collection="list" item="item" separator="union all ">
			select
			#{item.moduleId,jdbcType=VARCHAR},
			#{item.mhoId,jdbcType=VARCHAR},
			#{item.creatorId,jdbcType=VARCHAR} from dual
		</foreach>
	</insert>
	
	<!-- 根据模块id查找医疗机构与模块关系对象的集合 -->
	<select id="getBtpModuleMhoByModuleId" parameterType="java.lang.String" resultMap="BtpModuleMhoResultMap">
		select t.MHO_ID from BTP_MODULE_MHO t 
		where t.MODULE_ID = #{moduleId,jdbcType=VARCHAR}
	</select>
</mapper>