<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.dip.ws.cleardata.dao.ClearWrcDataMapper" >
    <delete id="deleteRegEmpiInfo" parameterType="java.lang.String" >
        delete from R_EMPI_INFO
        where CARD_NO= #{cardNo,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteRegLogInfo" parameterType="java.lang.String" >
        delete from R_REGISTER_LOG
        where EMPI_ID = #{empiNo,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteRegMainInfo" parameterType="java.lang.String" >
        delete from R_REGISTER_MAIN
        where EMPI_ID = #{empiNo,jdbcType=VARCHAR}
    </delete>
</mapper>