<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.follow.dao.EhrMainMapper">
	<resultMap type="com.zebone.follow.vo.DataPreprocess" id="EhrMainResultMap">
		<id column="ID_" property="id" jdbcType="VARCHAR" />
		<result column="EMPI_NO" property="empiNo" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="TEMP_XML" property="tempXml" jdbcType="CLOB" />
		<result column="DATA_CODE" property="dataCode" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getDataBlock" resultMap="EhrMainResultMap" parameterType="java.lang.String">
		SELECT T.TEMP_XML FROM TMP_DATA_PREPROCESS T
		WHERE T.EMPI_NO= #{empiNo,jdbcType=VARCHAR} AND T.DATA_CODE IN( ${dataCode} )
	</select>
</mapper>