<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 使用 JAX-WS 前端使其成为实际的服务组件三个配置文件 cxf-2.5.5.jar中目录下有无须新建 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:sysconfig.properties" />
	</bean>
	<bean id="ehrClientBean" class="com.zebone.server.impl.EhrClientImpl">
		<property name="sender" ref="sender"></property>
		<property name="logServiceClient" ref="logServiceClient"></property>
	</bean>
	<bean id="sender" class="com.zebone.activemq.ActiveMqSender">
		<property name="queueName" value="${uploadQueue}"/>
        <property name="brokerURL" value="${brokerURL}"/>
	</bean>
	
	<jaxws:server id="ehrClient" serviceClass="com.zebone.server.EhrClient" address="/RHRClient">
		<jaxws:serviceBean>
			<ref bean="ehrClientBean"/>
		</jaxws:serviceBean>
	</jaxws:server>
	
	<bean id="empiRegisterProxyImpl" class="com.zebone.server.impl.EmpiRegisterProxyImpl">
		<property name="centerRegisterAddr" value="${centerRegisterAddr}"></property>
	</bean>
	<jaxws:server id="empiRegisterlws" serviceClass="com.zebone.server.EmpiRegisterProxy" address="/empiRegister">
		<jaxws:serviceBean>
			<ref bean="empiRegisterProxyImpl"/>
		</jaxws:serviceBean>
	</jaxws:server>
	
	 <jaxws:endpoint id="upload"  implementor="com.zebone.server.UploadImgImpl" address="/upload">
    	<jaxws:properties>
     		<entry key="mtom-enabled" value="true"/>
    	</jaxws:properties>
  	 </jaxws:endpoint>
	
	<bean id="logServiceClient" class="com.zebone.dip.log.LogServiceClient">
		<property name="sysLogWsdl" value="${sysLogWsdl}"></property>
	</bean>
</beans>